<gridster [options]="options">
    <gridster-item [item]="{hasContent: true,resizeEnabled: true ,cols: 6 , rows: 3 , x: 0 , y: 0 , index: i}" *ngFor="let chart of charts;let i = index">
      <!-- <div class="viz-container" [ngClass]="chart.theme">
        <h1></h1>-->

          <app-chart
            class="chart"
            [chart]="chart"
            [data]="chart.data"
            [activeEntries]="chart.activeEntries"
            [chartType]="chart.chartType"
            [update] = "chart.update"
            (select)="onSelect()">
          </app-chart>
      <!-- </div> -->
    </gridster-item>
  </gridster>
